<div class="row">
  <div class="col">
    <input 
      #termino
      type="text" 
      name="search" 
      id="search"
      class="form-control"
      (keyup)="buscar(termino.value)"
      placeholder="Buscar artista"
    />
  </div>
</div>

<div class="card-columns mt-2">
  <div class="card" *ngFor="let artist of artists">
    <img class="card-img-top" [src]='artist.images[0].url' alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{ artist.name }}</h5>
    </div>
  </div>
</div>



